.mainContainer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    /* position:relative;  */
}

aside {
    width: 50%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #000001;
    position:relative
}

.subContainerTravel {
    float: right; 
    position:relative
}

.mainHeader {
    text-align: center;
    position:relative; 
}

.background {
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  }

  .subContainerFishCards {
    position:relative; 
  }