.mainContainer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    /* color: rgb(154, 204, 231) */
    
    /* color: rgb(92, 207, 235) */

}

aside {
    width: 20%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: rgb(154, 204, 231);
    position: relative; 
}

.subContainerTravel {
    float: right; 
    position:relative;
   
}

.mainHeader {
    text-align: center;
    position:relative; 
    color: rgb(8, 29, 76)
}

.background {
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  }

  .subContainerFishCards {
    position:relative; 
    
  }

  .card, .quotes, .places{
    border: 10px solid rgb(8, 29, 76); 
    padding: 30px;
    margin: 20px; 
    color: rgb(154, 204, 231)  
  }

  h3.fishTankHeader{ 
    text-align: center;

  }

  .travelHeader{
    text-align: center; 
  }

